// Margin
.outer-l-z {
    margin-left: 0;
}

.outer-r-z {
    margin-right: 0;
}

.outer-t-z {
    margin-top: 0;
}

.outer-b-z {
    margin-bottom: 0;
}

.outer-l-6xs {
    margin-left: 5px;
}

.outer-r-6xs {
    margin-right: 5px;
}

.outer-t-6xs {
    margin-top: 5px;
}

.outer-b-6xs {
    margin-bottom: 5px;
}

.outer-l-5xs {
    margin-left: 10px;
}

.outer-r-5xs {
    margin-right: 10px;
}

.outer-t-5xs {
    margin-top: 10px;
}

.outer-b-5xs {
    margin-bottom: 10px;
}

.outer-l-4xs {
    margin-left: 15px;
}

.outer-r-4xs {
    margin-right: 15px;
}

.outer-t-4xs {
    margin-top: 15px;
}

.outer-b-4xs {
    margin-bottom: 15px;
}

.outer-l-xxxs {
    margin-left: 20px;
}

.outer-r-xxxs {
    margin-right: 20px;
}

.outer-t-xxxs {
    margin-top: 20px;
}

.outer-b-xxxs {
    margin-bottom: 20px;
}

.outer-l-xxs {
    margin-left: 25px;
}

.outer-r-xxs {
    margin-right: 25px;
}

.outer-t-xxs {
    margin-top: 25px;
}

.outer-b-xxs {
    margin-bottom: 25px;
}

.outer-l-xs {
    margin-left: 30px;
}

.outer-r-xs {
    margin-right: 30px;
}

.outer-t-xs {
    margin-top: 30px;
}

.outer-b-xs {
    margin-bottom: 30px;
}

.outer-l-s {
    margin-left: 35px;
}

.outer-r-s {
    margin-right: 35px;
}

.outer-t-s {
    margin-top: 35px;
}

.outer-b-s {
    margin-bottom: 35px;
}

.outer-l-m {
    margin-left: 40px;
}

.outer-r-m {
    margin-right: 40px;
}

.outer-t-m {
    margin-top: 40px;
}

.outer-b-m {
    margin-bottom: 40px;
}

.outer-l-l {
    margin-left: 50px;
}

.outer-r-l {
    margin-right: 50px;
}

.outer-t-l {
    margin-top: 50px;
}

.outer-b-l {
    margin-bottom: 50px;
}

.outer-l-xl {
    margin-left: 75px;
}

.outer-r-xl {
    margin-right: 75px;
}

.outer-t-xl {
    margin-top: 75px;
}

.outer-b-xl {
    margin-bottom: 75px;
}

.outer-l-xxl {
    margin-left: 80px;
}

.outer-r-xxl {
    margin-right: 80px;
}

.outer-t-xxl {
    margin-top: 80px;
}

.outer-b-xxl {
    margin-bottom: 80px;
}

.outer-l-xxxl {
    margin-left: 100px;
}

.outer-r-xxxl {
    margin-right: 100px;
}

.outer-t-xxxl {
    margin-top: 100px;
}

.outer-b-xxxl {
    margin-bottom: 100px;
}

.outer-l-4xl {
    margin-left: 125px;
}

.outer-r-4xl {
    margin-right: 125px;
}

.outer-t-4xl {
    margin-top: 125px;
}

.outer-b-4xl {
    margin-bottom: 125px;
}

.outer-l-5xl {
    margin-left: 250px;
}

.outer-r-5xl {
    margin-right: 250px;
}

.outer-t-5xl {
    margin-top: 250px;
}

.outer-b-5xl {
    margin-bottom: 250px;
}

.outer-l-6xl {
    margin-left: 500px;
}

.outer-r-6xl {
    margin-right: 500px;
}

.outer-t-6xl {
    margin-top: 500px;
}

.outer-b-6xl {
    margin-bottom: 500px;
}


// Padding
.inner-l-z {
    padding-left: 0;
}

.inner-r-z {
    padding-right: 0;
}

.inner-t-z {
    padding-top: 0;
}

.inner-b-z {
    padding-bottom: 0;
}

.inner-l-6xs {
    padding-left: 5px;
}

.inner-r-6xs {
    padding-right: 5px;
}

.inner-t-6xs {
    padding-top: 5px;
}

.inner-b-6xs {
    padding-bottom: 5px;
}

.inner-l-5xs {
    padding-left: 10px;
}

.inner-r-5xs {
    padding-right: 10px;
}

.inner-t-5xs {
    padding-top: 10px;
}

.inner-b-5xs {
    padding-bottom: 10px;
}

.inner-l-4xs {
    padding-left: 15px;
}

.inner-r-4xs {
    padding-right: 15px;
}

.inner-t-4xs {
    padding-top: 15px;
}

.inner-b-4xs {
    padding-bottom: 15px;
}

.inner-l-xxxs {
    padding-left: 20px;
}

.inner-r-xxxs {
    padding-right: 20px;
}

.inner-t-xxxs {
    padding-top: 20px;
}

.inner-b-xxxs {
    padding-bottom: 20px;
}

.inner-l-xxs {
    padding-left: 25px;
}

.inner-r-xxs {
    padding-right: 25px;
}

.inner-t-xxs {
    padding-top: 25px;
}

.inner-b-xxs {
    padding-bottom: 25px;
}

.inner-l-xs {
    padding-left: 30px;
}

.inner-r-xs {
    padding-right: 30px;
}

.inner-t-xs {
    padding-top: 30px;
}

.inner-b-xs {
    padding-bottom: 30px;
}

.inner-l-s {
    padding-left: 35px;
}

.inner-r-s {
    padding-right: 35px;
}

.inner-t-s {
    padding-top: 35px;
}

.inner-b-s {
    padding-bottom: 35px;
}

.inner-l-m {
    padding-left: 40px;
}

.inner-r-m {
    padding-right: 40px;
}

.inner-t-m {
    padding-top: 40px;
}

.inner-b-m {
    padding-bottom: 40px;
}

.inner-l-l {
    padding-left: 50px;
}

.inner-r-l {
    padding-right: 50px;
}

.inner-t-l {
    padding-top: 50px;
}

.inner-b-l {
    padding-bottom: 50px;
}

.inner-l-xl {
    padding-left: 75px;
}

.inner-r-xl {
    padding-right: 75px;
}

.inner-t-xl {
    padding-top: 75px;
}

.inner-b-xl {
    padding-bottom: 75px;
}

.inner-l-xxl {
    padding-left: 80px;
}

.inner-r-xxl {
    padding-right: 80px;
}

.inner-t-xxl {
    padding-top: 80px;
}

.inner-b-xxl {
    padding-bottom: 80px;
}

.inner-l-xxxl {
    padding-left: 100px;
}

.inner-r-xxxl {
    padding-right: 100px;
}

.inner-t-xxxl {
    padding-top: 100px;
}

.inner-b-xxxl {
    padding-bottom: 100px;
}

.inner-l-4xl {
    padding-left: 125px;
}

.inner-r-4xl {
    padding-right: 125px;
}

.inner-t-4xl {
    padding-top: 125px;
}

.inner-b-4xl {
    padding-bottom: 125px;
}

.inner-l-5xl {
    padding-left: 250px;
}

.inner-r-5xl {
    padding-right: 250px;
}

.inner-t-5xl {
    padding-top: 250px;
}

.inner-b-5xl {
    padding-bottom: 250px;
}

.inner-l-6xl {
    padding-left: 500px;
}

.inner-r-6xl {
    padding-right: 500px;
}

.inner-t-6xl {
    padding-top: 500px;
}

.inner-b-6xl {
    padding-bottom: 500px;
}